{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
    تغییر رمز عبور
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-4 mx-auto">
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <small class="text-danger float-right">{{ error }}</small>
                    {% endfor %}
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            {% render_field field class='form-control' placeholder=field.label %}
                        </div>
                        {% for error in field.errors %}
                            <small class="help-block text-danger float-right">{{ error }}</small>
                        {% endfor %}
                    {% endfor %}
                    <button class="btn nav-btn btn-block" type="submit">تغییر رمز عبور</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}